@{
    ViewBag.Title = "Home Page";
}


<div class="home">
    <div class="row primary-images">
        <div class="col-4">
            <a href="@Url.RouteUrl(Routes.Hire.Index)" class="hire tile-image">
                <img src="/content/images/home/hire.jpg" />
                Hire
                <em>vintage inspired furniture and prop hire</em>
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.RouteUrl(Routes.Themes.Index)" class="style tile-image">
                <img src="/content/images/home/themes.jpg" />
                Style
                <em>pre-styled themes to inspire, hire and buy</em>
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.RouteUrl(Routes.Buy.Index)" class="buy tile-image">
                <img src="/content/images/home/buy.jpg" />
                Buy
                <em>party supplies, gifts and games</em>
            </a>
        </div>
    </div>

    <hr />

    @{Html.RenderAction("Featured", "Products");}

    <div class="vintage-images">
        <img src="/content/images/home/bunting.jpg" class="bunting" />
    </div>

    <div class="row promotions">
        <div class="col-4">
            <div class="delivery">
                <p>Flat fee delivery $9.95</p>
                <img class="promotion" src="/content/images/home/car.jpg" />
                <p class="small">@Vintage.Rabbit.Common.Constants.Constants.HireDeliveryCost.ToString("C0") furniture hire delivery <br />melbourne metro*</p>
                <p class="note">*includes delivery only additional charges apply for pickup</p>
            </div>
        </div>
        <div class="col-4">
            <div class="competition">
                <img class="promotion" src="/content/images/home/competition.jpg" />
            </div>
        </div>
        <div class="col-4">
            <div class="contact">
                <p>Want to get in touch?</p>
                <img class="promotion" src="/content/images/home/phone.jpg" />
                <p class="small">Click @Html.RouteLink("here", Routes.ContactUs) or e-mail<br /><a href="mailto:info@vintagerabbit.com.au">info@vintagerabbit.com.au</a></p>
            </div>
        </div>
    </div>

</div>
