@{
    ViewBag.Title = "Vintage Rabbit – Party Hire – Party Supplies – Gifts – games";
    ViewBag.Keywords = "online party shop, party shop Melbourne, party decoration ideas, kids games, online toys, table decorations, birthday balloons, wooden spoon, party ideas, party props, diy photo booth, tissue paper flowers, birthday present ideas, kids games, vintage hire, kids chairs, customised invites, vintage rabbit";
    ViewBag.Description = "Party hire, party supplies, gifts, games and party styling. Hire or buy the best quality kids party supplies in Melbourne and Australia. Fast shipping at the best prices at our online party shop.";
}


<div class="home">
    <div class="row primary-images">
        <div class="col-4">
            <a href="@Url.RouteUrl(Routes.Hire.Index)" class="hire tile-image">
                <img src="/content/images/home/hire.jpg" />
                Hire
                <em>vintage inspired furniture and prop hire</em>
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.RouteUrl(Routes.Themes.Index)" class="style tile-image">
                <img src="/content/images/home/themes.jpg" />
                Style
                <em>pre-styled themes to inspire, hire and buy</em>
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.RouteUrl(Routes.Buy.Category, new { categoryName = "party-supplies"})" class="buy tile-image">
                <img src="/content/images/home/buy.jpg" />
                Buy
                <em>party supplies, gifts and games</em>
            </a>
        </div>
    </div>

    <hr />

    @{Html.RenderAction("Featured", "Products");}

    <div class="vintage-images">
        <img src="/content/images/home/bunting.jpg" class="bunting" />
    </div>

    <div class="row promotions">
        <div class="col-4">
            <div class="delivery">
                <p>Flat fee delivery $9.95</p>
                <img class="promotion" src="/content/images/home/car.jpg" />
                <p class="small">Party hire delivery only @Vintage.Rabbit.Common.Constants.Constants.HireDeliveryCost.ToString("C0") <br />Melbourne Metro*</p>
                <p class="note text-right">*additional charges apply for pickup</p>
            </div>
        </div>
        <div class="col-4">
            <div class="competition-promo">
                <a href="@Url.RouteUrl(Routes.Competition.Index)">
                    <img class="promotion" src="/content/images/home/competition01.jpg" />
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="contact">
                <p>Want to get in touch?</p>
                <img class="promotion" src="/content/images/home/phone.jpg" />
                <p class="small">Click @Html.RouteLink("here", Routes.ContactUs) or e-mail<br /><a href="mailto:info@vintagerabbit.com.au">info@vintagerabbit.com.au</a></p>
            </div>
        </div>
    </div>

</div>
