@model Vintage.Rabbit.Web.Models.Membership.RegisterViewModel


<h3>Register</h3>


@using(Html.BeginRouteForm(Routes.Membership.Register, new {}, FormMethod.Post, new { @class = "register-form" }))
{ 
    <ol>
        <li>
            <div class="input-icon">
				<i class="fa fa-envelope"></i>
                @Html.TextBoxFor(o => o.RegisterEmail, new { placeholder = "Email" })
                @Html.ValidationMessageFor(o => o.RegisterEmail)
			</div>
        </li>

        <li>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                @Html.PasswordFor(o => o.Password, new { placeholder = "Password" })
                @Html.ValidationMessageFor(o => o.Password)
            </div>
        </li>

        <li>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                @Html.PasswordFor(o => o.ConfirmPassword, new { placeholder = "Confirm password" })
                @Html.ValidationMessageFor(o => o.ConfirmPassword)
            </div>
        </li>
                    
        <li class="submit">
            <button type="submit" class="btn primary right">Create account</button>
        </li>
    </ol>
}
      