@model Vintage.Rabbit.Web.Models.ContactUs.ContactUsViewModel
@{
    ViewBag.Title = "Contact us";
    Layout = "../Shared/_Layout.cshtml";
}

<style>
    #map_canvas { width: 100%; height: 500px; }
</style>


<div class="faq">
    <div class="row">
        @{Html.RenderPartial("CategoryList", "contact-us");}

        <div class="col-9 contact-us">
                <div class="row">
                    <div class="col-6">
                        <div class="map">
                            <div id="map_canvas"></div>
                        </div>
                    </div>

                    <div class="col-6">
                        <h2>Contact Us</h2>

                        @if (ViewBag.EmailSent != null && ViewBag.EmailSent)
                        {
                            <div class="alert positive icon">
                                <i class="fa fa-check-circle"></i> Thank you for gettting in touch. We will try to get back to you as soon as possible.
                            </div>
                        }

@using (Html.BeginRouteForm(Routes.ContactUs, new { }, FormMethod.Post, new { @class = "" }))
            {
                            <ol>
                                <li>
                                    <div class="input-icon">
                                        <i class="fa fa-user"></i>                                        
                                        @Html.TextBoxFor(o => o.Name, new { placeholder = "Name*" })
                                        @Html.ValidationMessageFor(o => o.Name)
                                    </div>
                                </li>

                                <li>
                                    <div class="input-icon">
                                        <i class="fa fa-envelope"></i>                                        
                                        @Html.TextBoxFor(o => o.Email, new { placeholder = "Email*" })
                                        @Html.ValidationMessageFor(o => o.Email)
                                    </div>
                                </li>

                                <li>
                                    @Html.TextAreaFor(o => o.Comments, new { Comments = "Name*" })
                                    @Html.ValidationMessageFor(o => o.Comments)
                                </li>

                                <li class="submit">
                                    <div class="float-container">
                                        <button type="submit" class="btn primary right">Submit</button>
                                    </div>
                                </li>
                            </ol>
}
                        <p class="text-right business-details text-small">
                            Vintage Rabbit <br />
                            ABN: 71829240355 <br />
                            Address: 7A Chalmers st, Mckinnon. 3204<br />
                            Phone: 1300 881 622
                        </p>
                    </div>

                </div>
            </div>
    </div>
</div>


        <script>

            function initialize() {
                var map_canvas = document.getElementById('map_canvas');
                var map_options = {
                    center: new google.maps.LatLng(-37.909180, 145.044538),
                    zoom: 15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                var map = new google.maps.Map(map_canvas, map_options)
                this.addMarker(map);
            }


            function addMarker(map) {
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(-37.909180, 145.044538),
                    map: map
                });
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
