@model Vintage.Rabbit.Web.Areas.Emails.Models.InvoiceEmail.InvoiceEmailViewModel
@{
    ViewBag.Title = "EmailInvoice";
    Layout = "~/Areas/Emails/Views/Shared/_Layout.cshtml";
}






                <!-- content -->
<div class="content" style="padding:15px; max-width:600px; margin:0 auto; display:block;">

    <table bgcolor="">
        <tr>
            <td>
                @{Html.RenderPartial("Success", new Vintage.Rabbit.Web.Areas.Emails.Models.AlertViewModel(string.Empty, "Thank you for your " + Model.PaymentMethod + " payment."));}
            </td>
        </tr>
        <tr><td height="20"></td></tr>
        <tr>
            <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="scaleForMobile">
                    @if (Model.OrderItems.Any(o => o.IsTheme))
                    {
                        <tr>
                            <td valign="center" height="30" style=""><strong></strong></td>
                            <td valign="center" height="30" style=""><strong>Style</strong></td>
                            <td valign="center" height="30" style=""><strong>Qty</strong></td>
                            <td valign="center" height="30" style="" align="right"><strong>Amount</strong></td>
                        </tr>
                        foreach (var orderItem in Model.OrderItems.Where(o => o.IsTheme))
                        {
                            <tr>
                                <td width="12%" rowspan="2" valign="top">
                                    <div style="padding-top: 10px; padding-bottom: 10px; padding-right: 20px; border-top: 1px solid #cccccc;">
                                        <img src="@orderItem.Thumbnail" style="display: block;" />
                                    </div>
                                </td>
                                <td valign="top" width="50%" height="40">
                                    <div style="padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #cccccc;">
                                        <strong>@{Html.RenderAction("ThemeLink", "Style", new { area = "", themeGuid = orderItem.ProductGuid, includeHostName = true });}</strong>
                                    </div>
                                </td>
                                <td valign="top" width="8%" height="40">
                                    <div style="padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #cccccc;">
                                        @orderItem.Quantity
                                    </div>
                                </td>
                                <td valign="top" align="right" width="30%" height="40">
                                    <div style="padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #cccccc;">
                                        @orderItem.Total
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" valign="top" width="88%">
                                    <p style="@Styles.Small">@orderItem.Description</p>
                                </td>
                            </tr>
                        }
                    }
                    @if (Model.OrderItems.Any(o => o.IsBuy))
                    {
                        <tr>
                            <td colspan="4" height="20"></td>
                        </tr>
                        <tr>
                            <td valign="center" height="30" style="@Styles.Text"><strong></strong></td>
                            <td valign="center" height="30" style="@Styles.Text"><strong>Purchase</strong></td>
                            <td valign="center" height="30" style="@Styles.Text"><strong>Qty</strong></td>
                            <td valign="center" height="30" style="@Styles.Text" align="right"><strong>Amount</strong></td>
                        </tr>
                        foreach (var orderItem in Model.OrderItems.Where(o => o.IsBuy))
                        {
                            <tr>
                                <td width="12%" rowspan="2" valign="top">
                                    <div style="padding-top: 10px; padding-bottom: 10px; padding-right: 20px; border-top: 1px solid #cccccc;">
                                        <img src="@orderItem.Thumbnail" style="display: block;" />
                                    </div>
                                </td>
                                <td valign="top" width="50%" height="40">
                                    <div style="padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #cccccc; @Styles.Text">
                                        <strong>@{Html.RenderAction("ProductLink", "Product", new { area = "", productGuid = orderItem.ProductGuid, includeHostName = true });}</strong>
                                    </div>
                                </td>
                                <td valign="top" width="8%" height="40">
                                    <div style="padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #cccccc; @Styles.Text">
                                        @orderItem.Quantity
                                    </div>
                                </td>
                                <td valign="top" align="right" width="30%" height="40">
                                    <div style="padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #cccccc; @Styles.Text">
                                        @orderItem.Total
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" valign="top" width="88%">
                                    <p style="@Styles.Small">@orderItem.Description</p>
                                </td>
                            </tr>
                        }
                    }

                    @if (Model.OrderItems.Any(o => o.IsHire))
                    {
                        <tr>
                            <td colspan="4" height="20"></td>
                        </tr>
                        <tr>
                            <td valign="center" height="30" style="@Styles.Text"><strong></strong></td>
                            <td valign="center" height="30" style="@Styles.Text"><strong>Hire</strong></td>
                            <td valign="center" height="30" style="@Styles.Text"><strong>Qty</strong></td>
                            <td valign="center" height="30" style="@Styles.Text" align="right"><strong>Amount</strong></td>
                        </tr>
                        foreach (var orderItem in Model.OrderItems.Where(o => o.IsHire))
                        {
                            <tr>
                                <td width="12%" rowspan="2" valign="top">
                                    <div style="padding-top: 10px; padding-bottom: 10px; padding-right: 20px; border-top: 1px solid #cccccc;">
                                        <img src="@orderItem.Thumbnail" style="display: block;" />
                                    </div>
                                </td>
                                <td valign="top" width="50%" height="40">
                                    <div style="padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #cccccc; @Styles.Text">
                                        <strong>@{Html.RenderAction("ProductLink", "Product", new { area = "", productGuid = orderItem.ProductGuid, includeHostName = true });}</strong>
                                    </div>
                                </td>
                                <td valign="top" width="8%" height="40">
                                    <div style="padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #cccccc; @Styles.Text">
                                        @orderItem.Quantity
                                    </div>
                                </td>
                                <td valign="top" align="right" width="30%" height="40">
                                    <div style="padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #cccccc; @Styles.Text">
                                        @orderItem.Total
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" valign="top" width="88%">
                                    <p style="@Styles.Small">@orderItem.Description</p>
                                </td>
                            </tr>
                        }
                    }
                    @if (Model.OrderItems.Any(o => o.IsDelivery))
                    {
                        <tr>
                            <td colspan="4" height="20"></td>
                        </tr>
                        <tr>
                            <td valign="center" height="30" style="@Styles.Text"><strong></strong></td>
                            <td valign="center" height="30" style="@Styles.Text"><strong>Delivery</strong></td>
                            <td valign="center" height="30" style="@Styles.Text"><strong>Qty</strong></td>
                            <td valign="center" height="30" style="@Styles.Text" align="right"><strong>Amount</strong></td>
                        </tr>
                        foreach (var orderItem in Model.OrderItems.Where(o => o.IsDelivery))
                        {
                            <tr>
                                <td width="12%" rowspan="2" valign="top">
                                    <div style="padding-top: 10px; padding-bottom: 10px; padding-right: 20px; border-top: 1px solid #cccccc;">
                                        &nbsp;
                                    </div>
                                </td>
                                <td valign="top" width="50%" height="40">
                                    <div style="padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #cccccc; @Styles.Text">
                                        @orderItem.Title
                                    </div>
                                </td>
                                <td valign="top" width="8%" height="40">
                                    <div style="padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #cccccc; @Styles.Text">
                                        @orderItem.Quantity
                                    </div>
                                </td>
                                <td valign="top" align="right" width="30%" height="40">
                                    <div style="padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #cccccc; @Styles.Text">
                                        @orderItem.Total
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" valign="top" width="88%">
                                    <p style="@Styles.Small">@orderItem.Description</p>
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td valign="center" height="30" style="@Styles.Text border-top: 1px solid #cccccc;" colspan="4" align="right"><strong>Total: @Model.Total (incl GST)</strong></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                
                @{Html.RenderAction("PartyHireInformation", "InvoiceEmail");}
                
            </td>
        </tr>
    </table>

</div><!-- /content -->


