@model Vintage.Rabbit.Web.Models.Payment.BillingAddressViewModel
@{
    ViewBag.Title = "Checkout - Billing";
}


<div class="checkout billing-information">
    

    <div class="row">

        <div class="col-6">
            <h2>Billing Information</h2>
            @using (Html.BeginRouteForm(Routes.Checkout.BillingInformation, new { }, FormMethod.Post, new { }))
            {
                <fieldset>
                    <ol class="row">
                        <li class="col-12">
                            @Html.TextBoxFor(o => o.Email, new { placeholder = "Email" })
                            @Html.ValidationMessageFor(o => o.Email)
                        </li>
                        <li class="col-6">
                            @Html.TextBoxFor(o => o.FirstName, new { placeholder = "First name" })
                            @Html.ValidationMessageFor(o => o.FirstName)
                        </li>
                        <li class="col-6">
                            @Html.TextBoxFor(o => o.LastName, new { placeholder = "First name" })
                            @Html.ValidationMessageFor(o => o.LastName)
                        </li>
                        <li class="col-12">
                            @Html.TextBoxFor(o => o.CompanyName, new { placeholder = "Company name" })
                            @Html.ValidationMessageFor(o => o.CompanyName)
                        </li>
                        <li class="col-12">
                            @Html.TextBoxFor(o => o.Address, new { placeholder = "Address" })
                            @Html.ValidationMessageFor(o => o.Address)
                        </li>
                        <li class="col-12">
                            @Html.TextBoxFor(o => o.SuburbCity, new { placeholder = "Suburb / city" })
                            @Html.ValidationMessageFor(o => o.SuburbCity)
                        </li>
                        <li class="col-12">
                            @Html.TextBoxFor(o => o.Postcode, new { placeholder = "Postcode" })
                            @Html.ValidationMessageFor(o => o.Postcode)
                        </li>
                        <li class="col-12">
                            @Html.TextBoxFor(o => o.State, new { placeholder = "State" })
                            @Html.ValidationMessageFor(o => o.State)
                        </li>
                        <li class="col-12">
                            <input checked="checked" id="ShippingAddressIsTheSame" name="ShippingAddressIsTheSame" type="checkbox" value="true">
                            <input name="ShippingAddressIsTheSame" type="hidden" value="false">
                            <label for="ShippingAddressIsTheSame">Is your shipping address the same as your billing address?</label>
                        </li>
                        <li class="col-5 offset-7">
                            <div class=" text-right">
                                <button type="submit" class="btn primary">Save & continue</button>
                            </div>
                        </li>
                    </ol>
                </fieldset>
            }

        </div>

    </div>
</div>
