@model Vintage.Rabbit.Web.Models.Payment.BillingAddressViewModel
@{
    ViewBag.Title = "Checkout - Billing";
}


<div class="checkout billing-information">

    <ol class="float-container checkout-breadcrumb">

        <li class="checkout">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Checkout</h3>
        </li>
        <li class="login-register completed">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Login / Register</h3>
        </li>
        <li class="address active">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Address</h3>
        </li>
        <li class="payment">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Payment</h3>
        </li>
        <li class="confirmation">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Complete</h3>
        </li>

    </ol>

    <div class="row">

        <div class="col-6">
            <h2>Billing Information</h2>
            @using (Html.BeginRouteForm(Routes.Checkout.BillingInformation, new { guid = Model.Guid }, FormMethod.Post, new { }))
            {
                <fieldset>
                    <ol class="row">
                        <li class="col-12">
                            @Html.TextBoxFor(o => o.Email, new { placeholder = "Email" })
                            @Html.ValidationMessageFor(o => o.Email)
                        </li>
                        <li class="col-6">
                            @Html.TextBoxFor(o => o.FirstName, new { placeholder = "First name" })
                            @Html.ValidationMessageFor(o => o.FirstName)
                        </li>
                        <li class="col-6">
                            @Html.TextBoxFor(o => o.LastName, new { placeholder = "First name" })
                            @Html.ValidationMessageFor(o => o.LastName)
                        </li>
                        <li class="col-12">
                            @Html.TextBoxFor(o => o.CompanyName, new { placeholder = "Company name" })
                            @Html.ValidationMessageFor(o => o.CompanyName)
                        </li>
                        <li class="col-12 hidden">
                            <input id="autocomplete" placeholder="Billing address" type="text" value="@Model.Address, @Model.SuburbCity, @Model.State "></input>
                        </li>
                        <li class="col-12">
                            @Html.TextBoxFor(o => o.Address, new { placeholder = "Address" })
                            @Html.ValidationMessageFor(o => o.Address)
                        </li>
                        <li class="col-8">
                            @Html.TextBoxFor(o => o.SuburbCity, new { placeholder = "Suburb / city" })
                            @Html.ValidationMessageFor(o => o.SuburbCity)
                        </li>
                        <li class="col-4">
                            @Html.TextBoxFor(o => o.Postcode, new { placeholder = "Postcode" })
                            @Html.ValidationMessageFor(o => o.Postcode)
                        </li>
                        <li class="col-12">
                            @Html.DropDownListFor(o => o.State, Model.States, "State...", new { })
                            @Html.ValidationMessageFor(o => o.State)
                        </li>

                        @if (Model.OrderContainsBuyItems)
                        { 
                        <li class="col-12">
                            <input checked="checked" id="ShippingAddressIsTheSame" name="ShippingAddressIsTheSame" type="checkbox" value="true">
                            <input name="ShippingAddressIsTheSame" type="hidden" value="false">
                            <label for="ShippingAddressIsTheSame">Is your shipping address the same as your billing address?</label>
                        </li>
                        }
                        
                        <li class="col-7 offset-5">
                            <div class="float-container">
                                <button type="submit" class="btn primary right">Save & continue</button>
                            </div>
                        </li>
                    </ol>
                </fieldset>
            }

        </div>
    </div>
</div>
