@model Vintage.Rabbit.Web.Models.Orders.OrderViewModel
@{
    ViewBag.Title = "Checkout - Shipping";
}


<div class="checkout payment-information">

    <ol class="float-container checkout-breadcrumb">

        <li class="checkout">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Checkout</h3>
        </li>
        <li class="login-register completed">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Login / Register</h3>
        </li>
        <li class="address completed">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Address</h3>
        </li>
        <li class="payment completed">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Payment</h3>
        </li>
        <li class="confirmation active">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Complete</h3>
        </li>

    </ol>


    <div class="row">

        <div class="col-12">


            <div class="order-summary" data-reload-url="@Url.RouteUrl(Routes.Order.Summary)">

                <h2>Thank you your order has been placed.</h2>
                <p>An email confirmation has been sent to you. <br />
                Order number: @Model.OrderNumber</p>

                <div class="alert positive icon hidden">
                    <i class="fa fa-check-circle"></i> Your payment has been completed. 
                </div>

                <p>
                    <strong>Order summary</strong>
                </p>
                <ul class="order-items">                    
                    @if (Model.OrderItems.Any(o => o.IsTheme))
                    {
                        <li class="item-header">
                            <div class="row">
                                <div class="col-6">Style</div>
                                <div class="col-2 text-right">Price</div>
                                <div class="col-2 text-right">Qty</div>
                                <div class="col-2 text-right">Total</div>
                            </div>
                        </li>
                        foreach (var cartItem in Model.OrderItems.Where(o => o.IsTheme))
                        {
                            <li>
                                <div class="row">
                                    <div class="col-1">
                                        <img src="@cartItem.Thumbnail" width="100%" />
                                    </div>
                                    <div class="col-5">
                                        @{Html.RenderAction("ThemeLink", "Style", new { themeGuid = cartItem.ProductGuid });}
                                    </div>
                                    <div class="col-2 text-right">@cartItem.Cost</div>
                                    <div class="col-2 text-right">@cartItem.Quantity</div>
                                    <div class="col-2 text-right">@cartItem.Total</div>
                                </div>
                            </li>
                        }
                    }
                    @foreach (var cartItem in Model.OrderItems.Where(o => o.IsBuy))
                    {
                        <li>
                            <div class="row">
                                <div class="col-1">
                                    <img src="@cartItem.Thumbnail" width="100%" />
                                </div>
                                <div class="col-5">
                                    @{Html.RenderAction("ProductLink", "Product", new { productGuid = cartItem.ProductGuid });}
                                </div>
                                <div class="col-2 text-right">@cartItem.Cost</div>
                                <div class="col-2 text-right">@cartItem.Quantity</div>
                                <div class="col-2 text-right">@cartItem.Total</div>
                            </div>
                        </li>
                    }
                    
                    @foreach (var cartItem in Model.OrderItems.Where(o => o.IsHire))
                    {
                        <li>
                            <div class="row">
                                <div class="col-1">
                                    <img src="@cartItem.Thumbnail" width="100%" />
                                </div>
                                <div class="col-5">
                                    @{Html.RenderAction("ProductLink", "Product", new { productGuid = cartItem.ProductGuid });}
                                </div>
                                <div class="col-2 text-right">@cartItem.Cost</div>
                                <div class="col-2 text-right">@cartItem.Quantity</div>
                                <div class="col-2 text-right">@cartItem.Total</div>
                            </div>
                        </li>
                    }

                    @foreach (var cartItem in Model.OrderItems.Where(o => o.IsDelivery))
                    {
                        <li>
                            <div class="row">
                                <div class="col-1">&nbsp;</div>
                                <div class="col-5">
                                    @cartItem.Title
                                </div>
                                <div class="col-2 text-right">@cartItem.Cost</div>
                                <div class="col-2 text-right">&nbsp;</div>
                                <div class="col-2 text-right">@cartItem.Total</div>
                            </div>
                        </li>
                    }

                    @foreach (var cartItem in Model.OrderItems.Where(o => o.IsDiscount))
                    {
                        <li>
                            <div class="row">
                                <div class="col-1">&nbsp;</div>
                                <div class="col-5">
                                    @cartItem.Title
                                </div>
                                <div class="col-2 text-right">@cartItem.Cost</div>
                                <div class="col-2 text-right">&nbsp;</div>
                                <div class="col-2 text-right">@cartItem.Total</div>
                            </div>
                        </li>
                    }

                    <li class="total">
                        <div class="row">
                            <div class="col-6">&nbsp;</div>
                            <div class="col-2">&nbsp;</div>
                            <div class="col-2">Total</div>
                            <div class="col-2">@Model.Total</div>
                        </div>
                    </li>

                </ul>



            </div>

            @if(Model.OrderItems.Any(o => o.IsHire))
            {
                Html.RenderAction("PartyHireInformation", "Party");
            }
                

        </div>

    </div>
</div>
