@model Vintage.Rabbit.Web.Models.Payment.PartyHireInformationViewModel
@{
    ViewBag.Title = "Checkout - Devliery";
}


<div class="checkout delivery-information">

    <ol class="float-container checkout-breadcrumb">

        <li class="checkout">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Checkout</h3>
        </li>
        <li class="login-register completed">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Login / Register</h3>
        </li>
        <li class="address active">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Address</h3>
        </li>
        <li class="payment">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Payment</h3>
        </li>
        <li class="confirmation">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Complete</h3>
        </li>

    </ol>
@using (Html.BeginRouteForm(Routes.Checkout.PartyHireInformation, new { }, FormMethod.Post, new { @class = "party-details processing-form" }))
            {
    <div class="row">

        <div class="col-6">

                <h2>Party Hire Details</h2>
                
                <p class="party-date">Party Date: @Model.PartyDate.Value.ToString("dd MMMM yyyy")</p>
                @Html.HiddenFor(o => o.PartyDate)
                
                <p>
                    We offer delivery and pickup for the items that your are hiring for @Model.DeliveryCost each way. If you would like to pick up and return the items yourself you are more then welcome to, we are located at 7a Chalmers St Mckinnon.
                </p>

                <ol class="row">
                    <li class="col-12">
                        @Html.CheckBoxFor(o => o.IsDelivery)
                        @Html.LabelFor(o => o.IsDelivery)
                    </li>
                </ol>

                <h3 class="deliver-field@(Model.IsDelivery ? string.Empty : " hidden")">Delivery Details</h3>

                <ol class="row deliver-field@(Model.IsDelivery ? string.Empty : " hidden")">
                    <li class="col-6 deliver-field">
                        @Html.TextBoxFor(o => o.FirstName, new { placeholder = "First name*" })
                        @Html.ValidationMessageFor(o => o.FirstName)
                    </li>
                    <li class="col-6 deliver-field">
                        @Html.TextBoxFor(o => o.LastName, new { placeholder = "Last name*" })
                        @Html.ValidationMessageFor(o => o.LastName)
                    </li>
                    <li class="col-12 deliver-field">
                        @Html.TextBoxFor(o => o.PhoneNumber, new { placeholder = "Phone number*" })
                        @Html.ValidationMessageFor(o => o.PhoneNumber)
                    </li>
                    <li class="col-12 deliver-field">
                        @Html.TextBoxFor(o => o.Address, new { placeholder = "Address*" })
                        @Html.ValidationMessageFor(o => o.Address)
                    </li>
                    <li class="col-8 deliver-field">
                        @Html.TextBoxFor(o => o.SuburbCity, new { placeholder = "Suburb / city*" })
                        @Html.ValidationMessageFor(o => o.SuburbCity)
                    </li>
                    <li class="col-4 deliver-field">
                        @Html.TextBoxFor(o => o.Postcode, new { placeholder = "Postcode*" })
                        @Html.ValidationMessageFor(o => o.Postcode)
                    </li>
                    <li class="col-12 deliver-field">
                        @Html.DropDownListFor(o => o.State, Model.States, "State...", new { })
                        @Html.ValidationMessageFor(o => o.State)
                    </li>
                    <li class="col-12 deliver-field">
                        <input checked="checked" id="IsBillingDetailsTheSame" name="IsBillingDetailsTheSame" type="checkbox" value="true">
                        <input name="IsBillingDetailsTheSame" type="hidden" value="false">
                        <label for="IsBillingDetailsTheSame">Is your billing address the same as your delivery address?</label>

                    </li>
                </ol>
                
          

            <ol class="row">
                <li class="col-12">
                    <div class="float-container">
                        <button type="submit" class="btn left primary">Save & continue</button>
                    </div>
                </li>
            </ol>

        </div>
        <div class="col-6">

        </div>

        <div class="col-6">
        </div>

    </div>
            }
</div>
