@model Vintage.Rabbit.Web.Models.Payment.PaymentInformationViewModel
@using Vintage.Rabbit.Payment.Enums
@{
    ViewBag.Title = "Checkout - Shipping";
}


<div class="checkout payment-information">

    <ol class="float-container checkout-breadcrumb">

        <li class="checkout">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Checkout</h3>
        </li>
        <li class="login-register completed">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Login / Register</h3>
        </li>
        <li class="address completed">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Address</h3>
        </li>
        <li class="payment active">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Payment</h3>
        </li>
        <li class="confirmation">
            <div class="triangle-left"></div>
            <div class="triangle"></div>
            <h3>Complete</h3>
        </li>

    </ol>



    <div class="row">
        <div class="col-12">
            @{Html.RenderAction("CheckOrderAvailability", "Payment");}
        </div>

        <div class="col-6">



            <h2>Payment Information</h2>

            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <div class="alert negative icon">
                    <i class="fa fa-times"></i>@Model.Error
                </div>
            }

            <p>
                Please choose a payment method
            </p>
            <div class="row payment-methods">
            @using (Html.BeginRouteForm(Routes.Checkout.PaymentInfo, new { }, FormMethod.Post, new { @class = "" }))
            {
                if(!string.IsNullOrEmpty(Model.EwayAccessCode))
                {
                <div class="col-6">
                    <div class="radiobuttons">
                        <input type="radio" value="credit-card" name="payment-method" id="credit-card" @(Model.PaymentMethod.HasValue && Model.PaymentMethod == PaymentMethod.CreditCard ? " checked=checked" : "") /> 
                        <label for="credit-card">Credit card</label>
                    </div>
                </div>
                }
                <div class="col-6">
                    <div class="radiobuttons">
                        <input type="radio" value="paypal" name="payment-method" id="paypal" @(Model.PaymentMethod.HasValue && Model.PaymentMethod == PaymentMethod.PayPal ? " checked=checked" : "") />
                        <label for="paypal">PayPal</label>
                    </div>
                </div>
            }
            </div>

            @if (ViewData.ModelState.Keys.Contains("error"))
            {
                <div class="alert negative payment-error">
                    @Html.ValidationMessage("error")
                </div>
            }

            <form method="POST" action="@Model.EwayUrl" class="credit-card-form@(Model.PaymentMethod.HasValue && Model.PaymentMethod == PaymentMethod.CreditCard ? "" : " hidden")">
                <input type="hidden" name="EWAY_ACCESSCODE" value="@Model.EwayAccessCode" />
                <input type="hidden" name="EWAY_PAYMENTTYPE" value="Credit Card" />
                <input type="hidden" name="EWAY_CARDSTARTMONTH" />
                <input type="hidden" name="EWAY_CARDSTARTYEAR" />
                <input type="hidden" name="EWAY_CARDISSUENUMBER" />


                <fieldset>
                    <ol class="row">
                        <li class="col-12">
                            @Html.TextBoxFor(o => o.EWAY_CARDNAME, new { placeholder = "Name on credit card" })
                            @Html.ValidationMessageFor(o => o.EWAY_CARDNAME)
                        </li>
                        <li class="col-12">
                            @Html.TextBoxFor(o => o.EWAY_CARDNUMBER, new { placeholder = "Credit card number" })
                            @Html.ValidationMessageFor(o => o.EWAY_CARDNUMBER)
                        </li>
                        <li class="col-6">
                            @Html.DropDownListFor(o => o.EWAY_CARDEXPIRYMONTH, Model.ExpiryMonths, "Expiry month...", new { })
                            @Html.ValidationMessageFor(o => o.EWAY_CARDEXPIRYMONTH)
                        </li>
                        <li class="col-6">
                            @Html.DropDownListFor(o => o.EWAY_CARDEXPIRYYEAR, Model.ExpiryYears, "Expiry year...", new { })
                            @Html.ValidationMessageFor(o => o.EWAY_CARDEXPIRYYEAR)
                        </li>
                        <li class="col-12">
                            @Html.TextBoxFor(o => o.EWAY_CARDCVN, new { placeholder = "CCV" })
                            @Html.ValidationMessageFor(o => o.EWAY_CARDCVN)
                        </li>
                        <li class="col-5 offset-7">
                            <button type="submit" class="btn primary">Continue</button>
                        </li>
                    </ol>
                </fieldset>

            </form> 



            @using (Html.BeginRouteForm(Routes.Checkout.PayPal, new { }, FormMethod.Post, new { @class = "paypal-form" + (Model.PaymentMethod.HasValue && Model.PaymentMethod == PaymentMethod.PayPal ? "" : " hidden") }))
            {
                <fieldset>
                    <ol class="row">
                        <li class="col-12">
                            <p>
                                <img src="/content/images/footer/paypal.png" />
                                you will be redirected to the paypal website.
                            </p>
                        </li>
                        <li class="col-5">
                            <button type="submit" class="btn primary">Continue</button>
                        </li>
                    </ol>
                </fieldset>
            }

        </div>

        <div class="col-6">
            @{Html.RenderAction("Summary", "Order");}
        </div>
    </div>
</div>
