@model Vintage.Rabbit.Admin.Web.Models.Themes.AddProductToThemeImageViewModel




@using (Html.BeginRouteForm(Routes.Themes.SaveProduct, new { themeProductGuid = Model.ThemeProductGuid, themeImageGuid = Model.ThemeImageGuid }, FormMethod.Post, new { @class = "add-product-to-theme-form" + (Model.IsTallImage ? " tall" : "") }))
{
    <div style="position: absolute; top: -9999px; left: -9999px;">
        @Html.TextBoxFor(o => o.ProductGuid)
        @Html.TextBoxFor(o => o.X)
        @Html.TextBoxFor(o => o.Y)
    </div>


    <div class="row">
        <div class="col-3">
            <h2>Add Product</h2>
        </div>
        <div class="col-4">
            <div class="input-icon input-icon-right auto-size">
                <i class="fa hidden">Searching</i>
                <input type="text" id="product-search" name="product-search" value="@ViewBag.Search" class="search" data-search-url="@Url.RouteUrl(Routes.Products.AutoComplete)" placeholder="Search" />
            </div>
        </div>
        <div class="col-2">
            @Html.TextBoxFor(o => o.Qty, new { placeholder = "Qty" })
        </div>
        <div class="col-3">
            <button type="submit" class="btn primary">Save</button>
        </div>

        <div class="col-6 offset-3">
            @Html.ValidationMessageFor(o => o.ProductGuid)
            @Html.ValidationMessageFor(o => o.Qty)
            @Html.ValidationMessageFor(o => o.X)
        </div>

            <div class="col-12">
                <div class="main-image-container">
                    <img class="main-image" src="@Model.Url" />
                </div>

                @foreach (var product in Model.Products)
                {
                    <div class="marker@(Model.SelectedProductGuid.HasValue && Model.SelectedProductGuid == product.ProductGuid ? " selected" : string.Empty)" style="left: @(product.X)%; top: @(product.Y)%">
                        <span class="inner-circle"></span>
                    </div>
                }
            </div>

            <div class="col-2"></div>
    </div>
}
