@model Vintage.Rabbit.Admin.Web.Models.Themes.ThemeViewModel
@using Vintage.Rabbit.Common.Enums;
@{
    ViewBag.Title = "Add / Edit Products";
}

<div class="page-head">
    <h2>Add / Edit Products</h2>
    <ol class="breadcrumbs">
        <li>@Html.RouteLink("Home", Routes.Home)</li>
        <li>@Html.RouteLink("Themes", Routes.Themes.Index)</li>
        <li>@Html.RouteLink("Edit", Routes.Themes.Edit)</li>
        <li class="active">Products</li>
    </ol>
</div>
<div class="body-content theme">
    <div class="tab-container add-products-to-theme">       
    
        <ul class="nav nav-tabs">
            <li>@Html.RouteLink("Details", Routes.Themes.Edit)</li>
            <li class="active">@Html.RouteLink("Products", Routes.Themes.Products)</li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active cont" id="details">

                <div class="row">
                    <div class="theme-images col-2">

                        <ol>                            
                            @{int counter = 1;}
                            @foreach (var image in Model.Images)
                            {
                                <li class="selectable-theme-image@(counter == 1? " selected" : "")" data-guid="@image.Guid">
                                    <img src="@image.Url" />
                                </li>
                                counter++;
                            }
                        </ol>
                    </div>

                    <div class="col-10">
                        @{int i = 1;}
                        @foreach (var image in Model.Images)
                        {
                            <div class="@image.Guid@(i == 1? "" : " hidden") theme-products">
                                <div class="row">

                                    <div class="col-10">
                                        <div class="product-list">
                                            <ol class="row">
                                                @foreach (var product in image.Products)
                                                {
                                                    <li class="col-3">
                                                        <div class="item">
                                                            <div class="product-image">
                                                                <div class="container">
                                                                    <img src="@product.Product.ImageUrls.First().Thumbnail">
                                                                </div>
                                                            </div>
                                                            <h4>
                                                                @product.Qty x @product.Product.Title
                                                            </h4>
                                                            <p class="price">@product.Product.Cost.Value.ToString("C2")</p>
                                                            <div class="float-container">
                                                                <div class="remove-product-from-theme">
                                                                    @Html.RouteLink("remove", Routes.Themes.RemoveProduct, new { themeImageGuid = image.Guid, themeProductGuid = product.Guid }, new { })
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </li>
                                                }
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        @Html.RouteLink("Add Product", Routes.Themes.AddProduct, new { themeImageGuid = image.Guid }, new { @class = "btn primary right ajax-lightbox" })
                                    </div>
                                    
                                </div>
                            </div>
        i++;
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
