@model Vintage.Rabbit.Web.Models.Themes.ThemeViewModel

<div class="theme-add-to-cart">


    <h2>@Model.Title <span class="right">@Model.Cost.ToString("C0")</span></h2>

    <div class="added-to-cart help-text">
        <div class="alert positive icon">
            <i class="fa fa-check-circle"></i> <strong>@Model.Title</strong> has been added to your @Html.RouteLink("shopping cart", Routes.ShoppingCart.PageHeader, new { }, new { @class = "ajax-lightbox" })
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h3>Party Date</h3>
            <p>@ViewBag.PartyDate.ToString("dd MMMM yyyy") (@Html.RouteLink("change", Routes.Themes.Hire, new { changePostcode = true }, new { @class = "ajax-lightbox" }))</p>

            @Html.RouteLink("Add to cart", Routes.ShoppingCart.AddTheme, new { name = Model.UrlTitle, themeGuid = Model.Guid }, new { @class = "btn primary add-to-cart" })
        </div>

        <div class="col-6">

            <h3 class="text-right">Included items</h3>
            <ul>
                @foreach (var image in Model.Images)
                {
                    foreach (var product in image.Products)
                    {
                        <li class="text-right">@product.Qty x @product.Title</li>
                    }
                }
            </ul>

        </div>
    </div>
</div>
