@model IList<Vintage.Rabbit.Web.Models.Products.ProductListItemViewModel>


<ul class="featured row product-list">
    @{int counter = 1;}
    @foreach (var product in Model)
    {
        if (counter == 2)
        {
            <li class="col-2 square-text">
                <h4 class="supplies">party <br />supplies</h4>
            </li>
        }
        if (counter == 8)
        {
            <li class="col-2 square-text">
                <h4 class="furniture">prop & furniture hire</h4>
            </li>
        }
        if (counter == 9)
        {
            <li class="col-2 square-text">
                <h4 class="gifts-and-games">gifts & <br />games</h4>
            </li>
        }
        <li class="col-2">

            <div class="product-list-item">

                @if (product.Image != null)
                {
                    <img src="@product.Image.Url" width="100%" />
                }

                <div class="details">

                    <div class="container">
                        <h4>
                            @Html.RouteLink(product.Title, Routes.Buy.Product, new { productId = product.Id, name = product.UrlTitle, categoryName = product.Categories.First().Name }, new { })
                        </h4>
                        <div class="price">
                            @product.Cost
                        </div>

                        <div class="product-controls">

                            <a class="left add-to-cart" rel="nofollow" href="@Url.RouteUrl(Routes.ShoppingCart.Add, new { productId = product.Id, name = product.UrlTitle })">
                                <i class="fa fa-shopping-cart"></i>
                                Add
                            </a>
                            
                            <a class="right ajax-lightbox" rel="nofollow" href="@Url.RouteUrl(Routes.Buy.Preview, new { productId = product.Id, name = product.UrlTitle, categoryName = product.Categories.First().Name })">
                                <i class="fa fa-search"></i>
                                Preview
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </li>
            counter++;
    }
</ul>


