@{
    ViewBag.Title = "Vintage Rabbit";
    Layout = "../Shared/_Layout.cshtml";
}



    <div class="styles gutter">
         <div class="grid-wrap">
            <div class="col-4 col-12-t">
                <img src="/content/images/apple-party-collage.jpg" />

                <div class="link-container">
                    <div class="highlight"></div>
                    @Html.RouteLink("Toffee Apple", Routes.StyleProduct, new { name = "toffee-apply", styleId = 1 })
                </div>

            </div>
            <div class="col-4 col-12-t">
                <img src="/content/images/Kids-Party-Ideas.jpeg" />
                
                <div class="link-container">
                    @Html.RouteLink("Elmo", Routes.StyleProduct, new { name = "elmo", styleId = 1 })
                </div>
            </div>
            <div class="col-4 col-12-t">
                <img src="/content/images/rainbownew.jpg" />
                
                <div class="link-container">
                    @Html.RouteLink("Rainbow", Routes.StyleProduct, new { name = "rainbow", styleId = 1 })
                </div>
            </div>
        </div>
             
         <div class="grid-wrap">
            <div class="col-4 col-12-t">
                <img src="/content/images/pink barbie party decor.PNG" />
                
                <div class="link-container">
                    @Html.RouteLink("Pink Barbie", Routes.StyleProduct, new { name = "pink-barbie", styleId = 1 })
                </div>
            </div>
            <div class="col-4 col-12-t">
                <img src="/content/images/woodland fairies3.jpg" />
                
                <div class="link-container">
                    @Html.RouteLink("Woodland Fairies", Routes.StyleProduct, new { name = "woodland-faries", styleId = 1 })
                </div>
            </div>
            <div class="col-4 col-12-t">
                <img src="/content/images/Soccer-dessert-table.jpg" />
                
                <div class="link-container">
                    @Html.RouteLink("Sports", Routes.StyleProduct, new { name = "sports", styleId = 1 })
                </div>
            </div>
        </div>
    </div>
