@model Vintage.Rabbit.Web.Models.Products.HireProductViewModel

    <div class="col-12 hire-add-to-cart">


        <div class="available-text help-text">
            <p class="availble"><i class="fa fa-check"></i>&nbsp; @Model.Title is currently available for hire on <strong>@Model.PartyDate.Value.ToString("dd MMMM yyyy")</strong> (<a class="change-party-date" href="#">change</a>)</p>
        </div>

        <div class="choose-party-date hidden">
            @using (Html.BeginRouteForm(Routes.Hire.ChangePartyDate, new { }, FormMethod.Post, new { @class = "change-party-date-form" }))
            {
                <fieldset>

                    <ol class="row">

                        <li class="col-6">
                            <div class="input-icon">
                                <i class="fa fa-calendar"></i>
                                @Html.EditorFor(o => o.PartyDate, new { htmlAttributes = new { @placeholder = "Party Date", @class = "datepicker-trigger" } })
                            </div>
                        </li>


                        <li class="col-6">
                            <button type="submit" class="btn primary check-availability-button">
                                <i class="fa fa-refresh"></i>
                                Change
                            </button>

                        </li>
                    </ol>
                </fieldset>
            }
        </div>

    @using (Html.BeginRouteForm(Routes.ShoppingCart.AddHireProduct, new { productId = Model.Id, name = Model.UrlTitle }, FormMethod.Post, new { @class = "add-to-cart-form hire-form" }))
    {
        <fieldset>
            @Html.HiddenFor(o => o.PartyDate)
            <ol class="row">

                <li class="col-12 added-to-cart help-text">
                    <div class="alert positive icon">
                        <i class="fa fa-check-circle"></i> <strong>@Model.Title</strong> has been added to your @Html.RouteLink("shopping cart", Routes.ShoppingCart.PageHeader, new { }, new { @class = "ajax-lightbox" })
                    </div>
                </li>


                <li class="col-3 qty-container">

                    Qty &nbsp; &nbsp;
                    @Html.DropDownListFor(o => o.Qty, Model.InventoryCount)

                </li>
                <li class="col-4 add-to-cart-container">
                    <button type="submit" class="btn primary add-to-cart">
                        <i class="fa fa-shopping-cart"></i>
                        Add to cart
                    </button>
                </li>
            </ol>
        </fieldset>
    }


</div>

               