@model Vintage.Rabbit.Web.Models.Products.ProductViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.Keywords = Model.SeoKeywords;
}




<div class="hire-product-detail">

    @{Html.RenderAction("DetailsBreadcrumbs", "Hire");}

    <div class="row">
        <div class="col-5 col-12-m">
            <div class="image-container">
                @if (Model.Images.Any())
                {
                <div class="large-image">
                    <img  src="@Model.Images.First().Url" />
                </div>
                <ul class="thumbnails">
                    @foreach (var image in Model.Images)
                    { 
                    <li>
                        <img data-full-source="@image.Url" src="@image.Thumbnail" />
                    </li>
                    }
                </ul>
                }
            </div>
        </div>

        <div class="col-7  col-12-m">
            <h2>@Model.Title</h2>
            <div class="description">
                <p>@Model.Description</p>
            </div>

            <div class="controls">
            
                <div class="price">@Model.Cost</div>
            
                <div class="row availability-check">

                    @{Html.RenderAction("AvailabilityCheck", "Hire", new { productGuid = Model.Guid });}

                </div>
               
            </div>
        </div>
        
    </div>
</div>
