
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.Keywords" />

    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="/Content/less/site.less" type="text/css" charset="utf-8" />
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>
<body>


    <header>
        <div class="row">
            <div class="col-4">
                <h1><a href="/">Vintage Rabbit</a></h1>
            </div>

            <div class="col-3">

                <div class="social">
                    <a href="http://www.facebook.com">
                        <img src="/content/images/social/facebook.gif" />
                    </a>
                    <a href="http://www.instagram.com">
                        <img src="/content/images/social/instagram.gif" />
                    </a>
                    <a href="http://www.pinterest.com">
                        <img src="/content/images/social/pinterest.gif" />
                    </a>
                    <a href="mailto:asd@asd.com">
                        <img src="/content/images/social/email.gif" />
                    </a>
                </div>
            </div>

            <div class="col-5">

                @{Html.RenderAction("PageHeader", "ShoppingCart");}
                @{Html.RenderAction("PageHeader", "Membership");}


                <div class="search">
                    @using (Html.BeginRouteForm(Routes.Search.Index, FormMethod.Get, new { }))
                    {
                        <input type="text" class="left" id="query" name="query" placeholder="Search" value="">
                                        <div class="submit-container">
                        <div class="triangle left"></div>
                        <button type="submit" class="btn left">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                }
                </div>

            </div>

        </div>
    </header>

    

        <nav>
            <ol>
                <li>
                    @Html.RouteLink("Hire", Routes.Hire.Index)
                    @{Html.RenderAction("Subnav", "Hire");}
                </li>
                <li>
                    @Html.RouteLink("Themes", Routes.Themes.Index)
                    <ul class="themes-subnav">
                        <li>@Html.RouteLink("Carnival", Routes.Themes.Carnival)</li>
                        <li>@Html.RouteLink("Wizard of Oz", Routes.Themes.WizardOfOz)</li>
                        <li>@Html.RouteLink("Teddy Bears Picnic", Routes.Themes.TeddyBearsPicnic)</li>
                        <li>@Html.RouteLink("Tea Party", Routes.Themes.TeaParty)</li>
                        <li>@Html.RouteLink("Mary Poppins", Routes.Themes.MaryPoppins)</li>
                        <li>@Html.RouteLink("Cinderella", Routes.Themes.Cinderella)</li>
                    </ul>
                </li>
                <li>
                    @Html.RouteLink("Party Supplies", Routes.Buy.PartySupplies)
                    @{Html.RenderAction("PartySuppliesSubnav", "Buy");}
                </li>
                <li>
                                  @Html.RouteLink("Gifts", Routes.Buy.Gifts)
                </li>
                <li>
                    @Html.RouteLink("Games", Routes.Buy.Games)
                </li>
                <li>
                    @Html.RouteLink("Blog", Routes.Blog)
                </li>
                <li>
                    @Html.RouteLink("FAQ", Routes.FAQ)
                    <ul class="faq-subnav">
                        <li>@Html.RouteLink("How it works", Routes.HowItWorks)</li>
                        <li>@Html.RouteLink("About us", Routes.AboutUs)</li>
                        <li>@Html.RouteLink("Contact us", Routes.ContactUs)</li>
                        <li>@Html.RouteLink("Terms and conditions", Routes.TermsAndConditions)</li>
                        <li>@Html.RouteLink("Privacy policy", Routes.PrivacyPolicy)</li>
                    </ul>
                </li>
            </ol>
        </nav>

    @RenderBody()





    @{Html.RenderPartial("footer");}


    <!-- scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        $('nav > ol > li ul').fadeOut();

        var navTimeout;
        $('nav > ol > li').on('mouseover', function () {

            var $this = $(this);
            navTimeout = setTimeout(function () { $this.addClass('active'); $($this.find('ul')).fadeIn(150); }, 100);
        });

        $('nav > ol > li').on('mouseleave', function () {

            var $this = $(this);
            clearTimeout(navTimeout);
            setTimeout(function () { $this.removeClass('active'); }, 100);
        });

    </script>

    <script type="text/javascript">
        //(function () {
        //    var path = '//easy.myfonts.net/v2/js?sid=187188(font-family=Brandon+Grotesque+Regular)&sid=187189(font-family=Brandon+Grotesque+Light)&sid=187190(font-family=Brandon+Grotesque+Bold)&sid=187194(font-family=Brandon+Grotesque+Medium)&key=lc0irGpMdg',
        //        protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
        //        trial = document.createElement('script');
        //    trial.type = 'text/javascript';
        //    trial.async = true;
        //    trial.src = protocol + path;
        //    var head = document.getElementsByTagName("head")[0];
        //    head.appendChild(trial);
        //})();
    </script>

</body>


</html>

