
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="/Content/less/site.less" type="text/css" charset="utf-8" />
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
</head>
<body>


    <header>
        <div class="row">
            <div class="col-4">
                <h1><a href="/">Vintage Ra<span>bb</span>it</a></h1>
            </div>

            <div class="col-4">
                <form action="/" class="search">

                    <div class="button-search">
                        <i class="fa fa-search"></i>
                    </div>
                    <input type="text" name="search" placeholder="Search" value="">

                </form>
            </div>

            <div class="col-3 offset-1">
                @{Html.RenderAction("PageHeader", "ShoppingCart");}

                <div class="login-register">
                    <a href="/login">Login</a>&nbsp; / &nbsp;<a href="/register">Register</a>
                </div>
            </div>

        </div>
    </header>

    

        <nav>
            <ol class="row">
                <li class="col-2 col-12-m">
                    @Html.RouteLink("Hire", Routes.Hire.Index)
                </li>
                <li class="col-2 col-12-m">
                    @Html.RouteLink("Style", Routes.Style)
                </li>
                <li class="col-2 col-12-m">
                    @Html.RouteLink("Buy", Routes.Buy.Index)
                    @{Html.RenderAction("GetCategories", "Categories");}
                </li>
                <li class="col-2 col-12-m">
                    @Html.RouteLink("About us", Routes.Blog)
                </li>
                <li class="col-2 col-12-m">
                    @Html.RouteLink("Blog", Routes.Blog)
                </li>
                <li class="col-2 col-12-m">
                    @Html.RouteLink("Contact us", Routes.ContactUs)
                </li>
            </ol>
        </nav>

    @RenderBody()





    @{Html.RenderPartial("footer");}


    <!-- scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        $('nav > ol > li ul').fadeOut();

        var navTimeout;
        $('nav > ol > li').on('mouseover', function () {

            var $this = $(this);
            navTimeout = setTimeout(function () { $this.addClass('active'); $($this.find('ul')).fadeIn(150); }, 100);
        });

        $('nav > ol > li').on('mouseleave', function () {

            var $this = $(this);
            clearTimeout(navTimeout);
            setTimeout(function () { $this.removeClass('active'); }, 100);
        });

    </script>

    <script type="text/javascript">
        //(function () {
        //    var path = '//easy.myfonts.net/v2/js?sid=187188(font-family=Brandon+Grotesque+Regular)&sid=187189(font-family=Brandon+Grotesque+Light)&sid=187190(font-family=Brandon+Grotesque+Bold)&sid=187194(font-family=Brandon+Grotesque+Medium)&key=lc0irGpMdg',
        //        protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
        //        trial = document.createElement('script');
        //    trial.type = 'text/javascript';
        //    trial.async = true;
        //    trial.src = protocol + path;
        //    var head = document.getElementsByTagName("head")[0];
        //    head.appendChild(trial);
        //})();
    </script>

</body>


</html>

